.headerContainer {
  transition: all 0.25s ease-in-out;
  height: 36rem;
  background: url('/home/tablet/image-header.jpg') no-repeat, #191919 0px 0px;
  background-size: cover;
  background-position: center top 0.4rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

@media (min-width: 590px) {
  .headerContainer {
    background-size: contain;
  }
}

@media (min-width: 700px) {
  .headerContainer {
    height: 45rem;
    background-size: cover;
    background-position: center top -0.3rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 770px) {
  .headerContainer {
    background-size: contain;
  }
}

@media (min-width: 1100px) {
  .headerContainer {
    background: url('/home/desktop/image-hero.jpg') no-repeat,
      #191919 0px 0px / 100% 100% no-repeat;
    background-size: cover;
    background-position: center top -0.9rem;
    margin-bottom: 7.5rem;
  }
}

@media (min-width: 1430px) {
  .headerContainer {
    background-size: contain;
  }
}

.headerContentContainer {
  height: 100%;
  position: relative;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}

@media (min-width: 1100px) {
  .headerContentContainer {
    margin: 0 2.5rem;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .headerContentContainer {
    margin: 0 auto;
  }
}

.heroTextContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  width: 20.5rem;
  height: 18.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (min-width: 1100px) {
  .heroTextContainer {
    justify-content: flex-start;
  }
}

@media (min-width: 700px) {
  .heroText {
    width: 23.6875rem;
    height: 21.625rem;
  }
}

@media (min-width: 1100px) {
  .heroText {
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
  }
}

.heroText > h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
}

.heroText > h2 {
  color: #fff;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .heroText > h2 {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }
}

.heroText > p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
}
