.container {
  position: relative;
  transition: all 0.25s ease-in-out;
  height: 5.625rem;
  width: 100%;
  background: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container > a {
  transition: all 0.25s ease-in-out;
  width: 9rem;
  height: 100%;
  left: 50%;
}

@media (min-width: 700px) {
  .container > a {
    position: absolute;
    left: 3rem;
    margin: 0 0;
  }
}

@media (min-width: 1100px) {
  .container > a {
    position: absolute;
    left: 0;
  }
}

.hamburgerMenu {
  position: absolute;
  left: 0;
}

.logo {
  width: 9rem;
  position: absolute;
  top: 1.95rem;
}

.logo:hover path {
  transition: all 0.15s ease-in-out;
  fill: var(--orange);
}

.pageLinksBox {
  display: none;
  padding-bottom: 0.1rem;
}

@media (min-width: 1100px) {
  .pageLinksBox {
    display: block;
  }
}

.pageLinksBox ul {
  display: flex;
  gap: 2.12rem;
}

.pageLink {
  transition: all 0.15s ease-in-out;
  color: var(--white);
  text-decoration: none;
}

.pageLink:hover {
  color: var(--orange);
}
