.container {
  width: 100%;
  height: 100%;
}

.contentContainer {
  max-width: 70rem;
  height: 100%;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .contentContainer {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1100px) {
  .contentContainer {
    margin: 0 2.5rem;
  }
}

@media (min-width: 1200px) {
  .contentContainer {
    margin: 0 auto;
  }
}

.contentContainerHome {
  composes: contentContainer;
  gap: 6rem;
}

@media (min-width: 700px) {
  .contentContainerHome {
    gap: 6rem;
  }
}

@media (min-width: 1100px) {
  .contentContainerHome {
    margin-top: 7.5rem;
    margin-bottom: 12.5rem;
    gap: 10.5rem;
  }
}

.contentContainerCategory {
  composes: contentContainer;
}

@media (min-width: 700px) {
  .contentContainerCategory {
  }
}

@media (min-width: 1100px) {
  .contentContainerCategory {
  }
}

@media (min-width: 1200px) {
  .contentContainerCategory {
  }
}

.contentContainerProduct {
  composes: contentContainer;
}

@media (min-width: 700px) {
  .contentContainerProduct {
  }
}

@media (min-width: 1100px) {
  .contentContainerProduct {
  }
}

@media (min-width: 1200px) {
  .contentContainerProduct {
  }
}
