:root {
  --orange: #d87d4a;
  --light-orange: #fbaf85;
  --black: #000000;
  --light-black: #101010;
  --white: #ffffff;
  --gray: #f1f1f1;
  --light-gray: #fafafa;
  --red: #cd2c2c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.h1-text {
  color: var(--black);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.625rem; /* 103.571% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.h2-text {
  color: var(--black);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; /* 110% */
  letter-spacing: 0.08931rem;
  text-transform: uppercase;
}

.h3-text {
  color: var(--black);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 112.5% */
  letter-spacing: 0.07144rem;
  text-transform: uppercase;
}

.h4-text {
  color: var(--black);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.h5-text {
  color: var(--black);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.10713rem;
  text-transform: uppercase;
}

.h6-text {
  color: var(--black);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
}

.overline-text {
  color: var(--orange);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
}

.subtitle-text {
  color: var(--orange);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
}

.body-text {
  color: var(--black);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
}
